#ecoHome {
    position: absolute;
    height: auto;
    width: 15%;
    right: 9%;
    top: 30%;
}

#waterDrops {
    position: absolute;
    height: auto;
    transform: rotate(-20deg);
    width: 10%;
    right: 3%;
    top: 75%;

}

#sun {
    position: absolute;
    height: auto;
    width: 12%;
    right: -2%;
    top: 2%;
    z-index: -10;
    -webkit-filter: drop-shadow(0px 0px 8px rgba(40, 40, 40, 0.7));

}

#windmill {
    position: absolute;
    height: auto;
    width: 12%;
    right: -0.6%;
    top: 37%;
    -webkit-filter: drop-shadow(0px 0px 3px rgba(60, 60, 60, 0.7));

}

#backDrop {
    position: absolute;
    left: 72%;
    top: -5%;
    z-index: -50;
    -webkit-filter: drop-shadow(0px 0px 8px rgba(40, 40, 40, 1));
}

#mainContent {
    background-color: rgba(255, 255, 255, 0.3);
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 25px;
    width: 68%;
    position: absolute;
    left: 1%;
    top:20%;

}



#mainContentTextTitle {
    font-size: 200%;
    text-align: center;

}

#mainContentTextTitleII {
    font-size: 200%;
    text-align: center;

}

#mainContentText {
    text-align: center;

}

#mainContentTextII {
    text-align: center;

}
